.brand {
  font-size: 50px;
  color: red;
  margin-top: 1px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 30px;
}
body {
  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
  font-size: 15px;
  min-height: 100vh;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  height: 25vh;
  width: 10rem;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  gap: 1ch;
  justify-content: right;
  align-items: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
main {
  display: flex;
  flex-grow: 1;
  gap: 1ch;
  justify-content: left;
  align-items: left;
}
.testimonial {
  background-color: lightgray;
  padding: 10px;
}

article {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 0px;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  min-height: 100vh;
}
#bread {
  display: flex;
  font-size: 25px;
  background-color: rgb(182, 29, 29);
  color: white;
  padding: 7px;
  border-radius: 10px;
}
#cakes {
  display: flex;
  font-size: 25px;
  background-color: rgb(182, 29, 29);
  color: white;
  padding: 7px;
  border-radius: 10px;
}
#cookies {
  display: flex;
  font-size: 25px;
  background-color: rgb(182, 29, 29);
  color: white;
  padding: 7px;
  border-radius: 10px;
}
#muffins {
  display: flex;
  font-size: 25px;
  background-color: rgb(182, 29, 29);
  color: white;
  padding: 7px;
  border-radius: 10px;
}
#pies {
  display: flex;
  font-size: 25px;
  background-color: rgb(182, 29, 29);
  color: white;
  padding: 7px;
  border-radius: 10px;
}
